<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dominicsilveira.parkingsystem">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:name=".AppConstants"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".common.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".common.MainOwnerActivity" />
        <activity android:name=".common.MainNormalActivity" />
        <activity android:name=".NormalUser.BookingPaymentActivity" />
        <activity android:name=".NormalUser.BookParkingAreaActivity" />
        <activity android:name=".OwnerUser.RegisterAreaActivity" />
        <activity android:name=".OwnerUser.AddPositionActivity" />
        <activity android:name=".NormalUser.GPSMapActivity" />
        <activity android:name=".RegisterLogin.ForgotPasswordActivity" />
        <activity
            android:name=".RegisterLogin.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RegisterLogin.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".utils.Notification_reciever"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>